<div>
  <h1 class="title">Luegen</h1>
  <h2 class="title">The Game</h2>
  <div class="stack-container">
    <!-- @for (card of cards; track $index) {
    <div
      class="stack-card"
      [style.transform]="'rotate(' + card.degree + 'deg)'"
      [style.top]="$index * 2 + 'px'"
      [style.left]="$index * 2 + 'px'"
    >
      <app-card class="card" [suit]="card.suit" [rank]="card.rank"></app-card>
    </div>

    } -->
    <input type="text" [(ngModel)]="displayName" placeholder="Enter your name">
    <div class="button-container">
      <button (click)="supabaseService.signInAnon(displayName)" class="button">Join Game</button>
      <button class="button">Create Game</button>
    </div>
  </div>
</div>

<style>
  .title {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: white;
  }

  .title:nth-child(2) {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .stack-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 90vw;
    padding-bottom: 10px;
  }

  .stack-card {
    position: absolute;
    transition: all 0.3s ease;
  }

  .button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }

  .button:hover {
    background-color: #45a049;
  }

  .button-container {
    position: absolute;
    top: 150px;
    transform: translateX(-50%);
    text-align: center;
  }
</style>
